/*img {
  width: 300px;
  height: auto;
}*/

body {
  background-image: url("../img/background.jpg");

}

h1 {
  /*font-family: 'Ravi Prakash', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Rock Salt', cursive;
  font-family: 'Press Start 2P', cursive;*/
  font-family: 'Cinzel Decorative', cursive;
  font-size: 68pt;
  color: #ffff80;
  text-align: center;
  padding: 16px;
  text-shadow: -4px 0 black;
}

h3 {
  color: #ffff80;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 28pt;
  text-shadow: -4px 0 black;
}

.movieImages {
  display: block;
  margin: auto;
}

a {
  color: #ffff80;
  text-decoration: underline;
}

a:hover {
  color: blue;
}

p {
  color: #ffff80;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
}

label {
  color: #ffff80;
  font-size: 18pt;
  font-family: 'Cinzel Decorative', cursive;
  display: block;
  text-align: center;
}

#movie-select {
  width: 150px;
  height: auto;
  display: block;
  margin: auto;
}

#time-select {
  width: 150px;
  height: auto;
  display: block;
  margin: auto;
}

.age-select {
  width: 100px;
  height: auto;
  display: block;
  margin: auto;
}

.btn {
  width: 90px;
  display: block;
  margin: auto;

}
